

.chuck-page {
  
}

.chuck-instructions {
  text-align: left;
  padding: 5px;
  font-size: smaller;
}

.chuck-input {
  padding: 5px;
}

.chuck-input input {
  width: 99.3%;
  height: 36px;
  font-size: 28px;
}

.chuck-input button {
  width: 50%;
  height: 32px;
}

.chuck-result {
  min-height: 150px;
  border: 1px solid #CCC;
  border-radius: 5px;
  margin: 5px; 
  padding: 5px; 
  background-color: beige;
}

.chuck-categories .loading,
.chuck-result .loading {
  text-align: center;
}

.chuck-categories {
  text-align: center;
  width: 100%;
  float: left;
}

.chuck-category-wrapper {
  position: relative;
  float: left;
  width: 100px; 
  height: 100px;
  background-color: cyan;
  margin: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
}

.chuck-category {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.chuck-footer {
  clear: both;
  text-align: center;
}

.chuck-footer small {
  font-size: 6pt;
  font-weight: normal;
}
